


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #81d3ea;
}

input[readonly] {
  background-color: #86bdf6 !important;
}
